.texto-menor {
  font-size: 13px;
}

.divs-facilities {
  width: 325px;
}

.bg-black {
  background-color: black;
}

.bg-lemon {
  color: #daff01;
}

.botao-lilas {
  background-color: #9353ff;
}
